@import "../../_theme.scss";

header.app-header{
  position: fixed;
  width: 100%;
  font-size: 12px;
  color: $background;
  z-index: 1000;

  .app-header-blue{
    background-color: $primary-color;
    padding: 5px;

    .app-version{
      float: right;
    }
  }

  .app-header-gray{
    background-color: $secondary-color;
    height: 35px;
    padding: 5px;
  }
}
